html,body {
	margin: 0;
	padding: 0;
	min-height: 400px;
	display:block;
}

body { padding-left: 30px; }

div.code { 
	white-space: pre;
	font-family: monospace;
	background-color: #eee;
	width: auto;
	margin-right: 20px;
	padding: 20px;
}

div.segment.error .code {
	background-color: #fee;
}