html,body {
	margin: 0;
	padding: 0;
	min-height: 400px;
	display:block;
}

body { padding-left: 30px; }

div.code { 
	background-color: #eee;
}

div.console, div.code {
	white-space: pre;
	font-family: monospace;
	width: auto;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
}

div.console { 
	color: white;
	background-color: #444;
}

div.segment.error .code {
	background-color: #fee;
}