html,body {
	margin: 0;
	padding: 0;
	min-height: 400px;
	display:block;
	height: 100%;
}

body { padding-left: 30px; font-family: sans-serif; }

body.home {
	color: white;
	padding-left: 0;
}

.billboard {
	font-family: Alike;
	font-size: 60pt;
	margin:auto;
	width: 500px;
	text-align: center;
	padding-top: 200px;
}

.subtext {
	text-align: center;
	color: black;
	font-size: 12pt;
	width: 500px;
	margin:auto;
	margin-top: 25px;
}

.billboard div {
	width: 500px;
	background-color: #C04948;
}

div.code, div.constraints { 
	background-color: #eee;
	min-height: 10px;
}

div.top-menu {
	float:right;
	margin-right:30px;
}

div.success {
	background-color: #77AB59 !important;
}

div.failure {
	background-color: #c91 !important;
}

div.top-menu div {
	text-align: center;
	background-color: #4183c4;
	cursor: pointer;
	margin-top: 9px;
	color: white;
	font-size: 14px;
	float: right;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: 20px;
}

div.placeholder {
	height: 40px;
	width: 100px;
	display:block;
}

div.CodeMirror {
	margin: 20px;
	margin-left: 0;
	display: none;
	position:absolute;
	top: 20%;
	left: 30px;
	width: 90%;
	height: 60%;
	z-index: 10;
}

div.logo {
	font-family: Alike;
	font-size: 25px;
	margin-left: 30px;
	cursor:pointer;
	color: white;
}

div.top-bar {
	height: 40px;
	overflow: hidden;
	width: 100%;
	position: fixed;
	margin-left: -30px;
	display: block;
	background-color: #C04948;
	z-index: 40;
}

div.literate {
	height: 100%;
	width: 100%;
	margin-top: 0px;
	overflow: auto;
	display: block;
}

div.codeblanket {
	background-color: black;
	opacity: 0.8;
	z-index: 4;
	width: 100%;
	height: 100%;
	display:none;
	position:absolute;
	top:0;
	left: 0;
}

div.console, div.code, div.constraints {
	white-space: pre;
	font-family: monospace;
	width: auto;
	padding: 20px;
}

div.console { 
	color: white;
	background-color: #444;
}

div.segment.error .code {
	background-color: #fee;file:///C:/Users/merkelco/Downloads/17u9F%20(1).litcoffee
}

div.error_message {
	background-color: #f99;
	margin-left: -20px;
	margin-right: -20px;
	margin-bottom: -20px;
	margin-top: 20px;
	padding: 5px;
	padding-left: 20px;
}

.segment {
	position: relative;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	min-height: 20px;
}

.segment.selected .markdown {
	padding-left: 10px;
}

.segment .edit-button {
	background-color: #4183c4;
	position: absolute;
	color: white;
	top: 0;
	right: 0px;
	width: 50px;
	display: block;
	cursor: pointer;
	text-align: center;
	display:none;
}

.CodeMirror .save-button {
	background-color: #4183c4;
	position: absolute;
	color: white;
	top: 0px;
	right: 10px;
	z-index: 20;
	width: 50px;
	display: block;
	cursor: pointer;
	text-align: center;
	display:block;
}

.segment:hover .edit-button {
	display:block;
}

.segment.selected {
	border: 2px solid #4183c4;
	margin-bottom: 40px;
	min-height: 40px;
}

.segment .insert-button {
	background-color: #4183c4;
	position: absolute;
	color: white;
	bottom: -22px;
	left: -2px;
	width: 130px;
	display: block;
	cursor: pointer;
	text-align: center;
	display:none;
}

.segment .delete-button {
	background-color: #C04948;
	position: absolute;
	color: white;
	bottom: -2px;
	right: -2px;
	width: 70px;
	display: block;
	cursor: pointer;
	text-align: center;
	display: none;
}


.menu-button {
	width: 150px;
	text-align: center;
	padding: 10px;
	margin: 20px;
	color: white;
	background-color: #4183c4;
	float: left;
	cursor: pointer;
}

.menu-button.red {
	background-color: #C04948;
}

.insert-menu {
	display: block;
	position: absolute;
	z-index: 100;
	width: 80%;
	left: 10%;
	top: 10%;
	height: 80%;
	display:none;
}

.insert-menu h2 {
	color: white;
}

.segment.selected .insert-button, .segment.selected .edit-button, .segment.selected .delete-button {
	display:block;
}